{% extends 'main/base.html'%}
{% block title %} ToDo Cretae {% endblock %}

{% load static %}

{% block content %}
<link 
	rel="stylesheet"
	type="text/css"
	href="{% static 'main/bootstrap/css/bootstrap.css' %}"
	type="text/css"
	/>
{% if user.is_authenticated %}


<style type="text/css">
	.form-floating{
			height:100%;
			width:200px;
			padding-top : 5px
		}
	
</style>


<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <!-- <img src="{% static '/main/images/Cover.png' %} " width="30" height="30" class="d-inline-block align-top" alt=""> -->
    <h1> Create new to do list ???  </h1>
  </a>
</nav>

<br><br>
<form method="post" action="/create/">
	{%csrf_token%}
	<!-- {{form.as_p}}
	
	
	
	{{form1.as_table}} -->
<div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput" placeholder="NewListName" name="NewListName">
  <label for="floatingInput">New list name </label>
</div>

<div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput" placeholder="NewListName" name="NewListOwner">
  <label for="floatingInput"> Owner </label>
</div>
	
	
	
	<br><br>
	
	<button type="submit" value="create", name="create" class="btn btn-primary btn-sm "> Create  </button>
	<button type="submit" value="cancel" class="btn btn-primary btn-sm" name="cancel">  Cancel </a> </button>
	
</form>





{% else  %} 
<meta http-equiv = "refresh" content = "0.5; url = /login" />
{% endif  %} 
{% endblock  %} 